.barang-container {
    color: #1f2937;
    width: 100%;
}

.barang-header {
    padding: 1rem;
    background-color: #b7b89f;
}

.barang-header h2 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #1f2937;
    margin-left: 1rem;
}

.barang-content{
    padding: 1rem;
}

.tambah-data {
    padding: 0.5rem 1.5rem;
    margin-left: 16px;
    background: #14b8a6;
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.tambah-data:hover {
    background: #0a675c;
    color: white;
}

.success-message {
    background-color: #d1fae5;
    margin-left: 16px;
    color: #065f46;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
    display: block;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    padding: 1rem;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.barang-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    background-color: #EEEEEE;

}

.barang-table thead {
    background-color: #9ca3af;
    color: #e5e7eb;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.barang-table th,
.barang-table td {
    padding: 0.75rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid black;
}

.kondisi-baik {
    background-color: #10b981;
    color: #1f2937;
    padding: 10px;
    border-radius: 50px;
    font-size: 0.75rem;
    text-align: center;
}

.kondisi-peringatan {
    background-color: yellow;
    color: #1f2937;
    padding: 10px;
    border-radius: 50px;
    font-size: 0.75rem;
    text-align: center;
}

.kondisi-rusak {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 0.75rem;
    text-align: center;
}

.btn-edit {
    background-color: #3b82f6;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-right: 0.5rem;
    font-size: 0.875rem;
}

.btn-edit:hover {
    background-color: #2563eb;
}
